<h1>Welcome To Home Page!!</h1>

<p>
<h3>Hi! <%= @user.username %> Your Details </h3><br>
<h4>Email:<%= @user.email %></br></h4>
<h4>Username:<%= @user.username %></br></h4>
<h4>Date Of Birth:<%= @user.dob %></br></h4>
</p>   
<p>
<%= image_tag(@user.image.url(:thumb1))  %>
</p> 
  <%= link_to 'Back', users_path %> 
 <%= link_to "User Details", users_path%> 
 <%= link_to "Logout" , logout_url%> 

