<!DOCTYPE html>
<html>
<head>
  <title>Mobtest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
   <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
   <script src="//code.jquery.com/jquery-1.10.2.js"></script>
   <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
   
  <%= csrf_meta_tags %>

<body>
<div id="user_nav", style = "float: right;">  
     <b> <% if current_user %>  
        Logged in as <%= current_user.email %> </b> |
        <%= link_to "Log out", logout_path %>  |
        <%= link_to "Profile",user_path(current_user)%>  |
           <% else %>  
        <%= link_to "Sign up", signup_path %> |   
        <%= link_to "Log in", login_path %> |
        <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %> |
        <%= link_to "Sign in with Twitter", "/auth/twitter", id: "sign_in" %>
       <% end %>  
    </div>
</head>
<p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>
 
  
<%= yield %>

</body>
</html>
